* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
}

.ctrl-current-marker {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    font-size: 32px;
    padding: 15px;

    &.active {
        background-color: #3FB1CE;
    }

    span {
        margin-top: 5%;
        font-size: 18px;
    }

    &.mrk-rouge {
        background: #C00;
    }

    &.mrk-orange {
        background: #FC0;
    }

    &.mrk-vert {
        background: #01D758;
    }
}

#form-evt {
    height: 100vh;
    background: white;
    padding: 50px 15px;

        input, label {
            display: block;
        }

        input, textarea {
            width: 100%;
            border: 1px solid black;
            margin-bottom: 30px;
        }

        button {
            padding: 15px;
            border-radius: 8px;
        }



}