<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapbox GL et OpenWeatherMaps</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= config.apis.mapbox_gl.css_url %>">
</head>
<body>

<div class="row">

    <div class="col-lg-10">
        <div id="map"></div>
    </div>

    <div class="col-lg-2">
        <div id="form-evt">
            <div class="cont-form">

                <label for="">Titre</label>
                <input type="text" id="evt_titre">

                <label for="">Description</label>
                <textarea name="" id="evt_desc" cols="30" rows="10"></textarea>

                <label for="">Debut</label>
                <input type="date" name="" id="evt_debut">

                <label for="">Fin</label>
                <input type="date" name="" id="evt_fin">

                <div class="form-coords">
                    <label for="">Latitude</label>
                    <input id="evt_lat" type="text" >

                    <label for="">Longitude</label>
                    <input id="evt_lng" type="text" >
                </div>

                <button type="button" class="btn-success" id="btn-event"> Créer </button>


            </div>
        </div>
    </div>

</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    // function evt_data() {
    //     let evt_titre = document.getElementById("evt_titre").value;
    //     let evt_desc = document.getElementById("evt_desc").value;
    //     let evt_lat = document.getElementById("evt_lat").value;
    //     let evt_lng = document.getElementById("evt_lng").value;
    //
    //     localStorage.setItem( 'titre', JSON.stringify( evt_titre ) );
    //     localStorage.setItem( 'desc', JSON.stringify( evt_desc ) );
    //     localStorage.setItem( 'latitude', JSON.stringify( evt_lat ) );
    //     localStorage.setItem( 'longitude', JSON.stringify( evt_lng ) );
    //
    //     console.log('lat:' + evt_lat + 'lng:'+ evt_lng);
    // }
</script>
</body>
</html>